<launch>
    <arg name="cflie_test" default="vflie_00"/>
    <arg name="cflie_test1" default="vflie_01"/>
    <!-- crazyflie server -->
    <include 
        file="$(find multi_drone_platform)/launch/crazyflie/crazyflie_server.launch">
    </include>
    <rosparam>
        genericLogTopics: ["log1"]
        genericLogTopicFrequencies: [100]
        genericLogTopic_log1_Variables: ["stateEstimate.x", "stateEstimate.y", "stateEstimate.z"]
    </rosparam>
    <include 
        file="$(find multi_drone_platform)/launch/rigidBodies/vrpn.launch">
    </include>

    <include 
        file="$(find multi_drone_platform)/launch/drone_server/drone_server.launch">
    </include>

    <node name="debugAppTest" pkg="multi_drone_platform" type="debugAppTest" output="screen">
     </node>



</launch>