<launch>

    <!-- crazyflie server -->
    <include 
        file="$(find multi_drone_platform)/launch/crazyflie/crazyflie_server.launch">
    </include>
    <rosparam>
        genericLogTopics: ["log1"]
        genericLogTopicFrequencies: [100]
        genericLogTopic_log1_Variables: ["stateEstimate.x", "stateEstimate.y", "stateEstimate.z"]
    </rosparam>

    <include 
        file="$(find multi_drone_platform)/launch/rigidBodies/vrpn.launch">
    </include>

    <include 
        file="$(find multi_drone_platform)/launch/drone_server/drone_server.launch">
    </include>

    <node name="joy_node" pkg="joy" type="joy_node">
        <remap from="joy" to="ps4"/>
        <remap from="joy/set_feedback" to="ps4/set_feedback"/>
    </node>

    <node 
        name="ps4teleop" 
        pkg="multi_drone_platform" 
        type="ps4teleop"
        output="screen">
    </node>

</launch>